<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce de motos</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>


  <div class="navbar">
    <h1>Venta de Articulos para Motos y Vehiculos</h1>
    <a href="/login" class="logout-btn">Administrar Productos</a>
    <% if (username !== '') { %>
        <a href="/logout" class="logout-btn">Cerrar Sesion</a>
    <% } else{ %>
      <a href="/login-user" class="logout-btn">Iniciar sesión</a>
    <% } %>
  </div>

  

  <section class="banner">
    <img src="https://www.incolmotos-yamaha.com.co/wp-content/uploads/2018/03/banner.png" alt="Banner de motos">
  </section>

  <section class="filtro">
    <form method="post" action="/">
      <label for="filtro nombre">Nombre:</label>
      <input type="text" name="nombre-filtro" class="nombre-filtro" id="nombre-filtro">
      <label for="filtro descripcion">Descripcion:</label>
      <input type="text" name="descripcion-filtro" class="descripcion-filtro" id="descripcion-filtro">
      <label for="filtro estado">Estado:</label>
      <select name="estado-filtro" class="estado-filtro" id="estado-filtro">
        <option value="todos">Todos</option>
        <option value="Nuevo">Nuevo</option>
        <option value="Usado">Usado</option>
      </select>
      <label for="filtro marca">Marca:</label>
      <input type="text" name="marca-filtro" class="marca-filtro" id="marca-filtro">
      <label for="category">Categoría:</label>
      <select name="categoria-filtro" class="categoria-filtro" id="categoria-filtro">
        <option value="todos">Todas</option>
        <% categorias.forEach((categoria) => { %>
          <option value="<%= categoria.categoriaNombre %>"><%= categoria.categoriaNombre %></option>
          <% }); %>
      </select>
      <input type="submit" class="filtrar" value="Filtrar">
    </form>
  </section>
  
  <section class="catalogo">
    <% productos.forEach((producto) => { %>
    <div class="tarjeta-producto">
      <img src="<%= producto.imagen %>" alt="Imagen del producto">
      <h2 class="nombre-producto"><%= producto.nombre %></h2>
      <ul>
        <li><p class="descripcion"><b>Descripción:</b> <%= producto.descripcion %></p></li>
        <li><p class="categoria"><b>Categoría:</b> <%= producto.categoria %></p></li> 
        <li><p class="marca"><b>Marca:</b> <%= producto.marca %></p></li>
        <li><p class="estado"><b>Estado:</b> <%= producto.estado %></p></li>
        <li><p class="precio"><b>Precio: <%= producto.precio %> $ </b> </p></li>
        <a href="/compra?id=<%= producto.id %>"><button class="boton-compras">Comprar</a></button></a>
      </ul>
    </div>
    <% }); %>
  </section>
  <script>
      <% if (username !== '') { %>
      // Verificar si hay un mensaje y mostrar una alerta con el contenido del mensaje
      alert('Bienvenido <%= username %>');
     <% } %>
  </script>

</body>
</html>