<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce de motos</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>


  <div class="navbar">
    <h1>Venta de Articulos para Motos y Vehiculos</h1>
    <a href="/login" class="logout-btn">Administrar Productos</a>
  </div>

  

  <section class="banner">
    <img src="https://www.incolmotos-yamaha.com.co/wp-content/uploads/2018/03/banner.png" alt="Banner de motos">
  </section>

  <section class="filtro">
    <form action="#">
      <label for="precio minimo">precio minimo:</label>
      <input type="number" name="precio-minimo">
      <label for="precio maximo">precio maximo:</label>
      <input type="number" name="precio-maximo">
      <label for="category">categoría:</label>
      <select name="categoria">
        <option value="0">Todas</option>
        <option value="1">Motos</option>
        <option value="2">Accesorios</option>
      </select>
      <input type="submit" class="filtrar" value="Filtrar">
    </form>
  </section>
  
  <section class="catalogo">
    <% productos.forEach((producto) => { %>
    <div class="tarjeta-producto">
      <img src="<%= producto.imagen %>" alt="Imagen del producto">
      <h2 class="nombre-producto"><%= producto.nombre %></h2>
      <ul>
        <li><p class="descripcion"><b>Descripción:</b> <%= producto.descripcion %></p></li>
        <li><p class="categoria"><b>Categoría:</b> <%= producto.categoria %></p></li> 
        <li><p class="marca"><b>Marca:</b> <%= producto.marca %></p></li>
        <li><p class="estado"><b>Estado:</b> <%= producto.estado %></p></li>
        <li><p class="precio"><b>Precio: <%= producto.precio %> $ </b> </p></li>
        <button class="boton-compras">Comprar</button>
      </ul>
    </div>
    <% }); %>
  </section>

</body>
</html>